ul.menu {
    list-style: none;
    display: inline;
    position: absolute;
    width: inherit;
    padding: 0;
    margin: 0;
    text-align: center;
    z-index: 3;
}

ul.menu> li {
    display:inline;
    float:left;
    width: 20%;
    position: relative;
}

ul.menu li ul{
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    display: none;
    position: relative;
}

ul.menu li:hover ul{
    display: inline;
}

ul.menu li a{
    background-color: #FFCB42;
    text-decoration: none;
    font-size:25px;
    border: 1px solid black;
    display: block;
}

ul.menu li a:hover{
    background-color: #FFF256;
}