html{
    height: 100vh;
}

body {
    height: inherit;
    background-color: #45737F;
}

ul
{
    list-style-type: none;
}

#menu{
    position: relative;
    background-color: #68ADBF;
    font-family: CalibriFont;
    text-align: center;
    color: #233A40;
    top:50px;
    margin-bottom: 15px;
}

.roundTop{
    border-radius:         10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius:    10px 10px 0 0;
    border-bottom: 1px solid #000000;
}

.roundBottom{
    border-radius:        0 0 10px 10px;
    -webkit-border-radius:0 0 10px 10px;
    -moz-border-radius:   0 0 10px 10px;
    border-top: 1px solid #000000;
}

.productBlueLine{
    background-color: #68ADBF;
    position: relative;
    width: 100%;
    color: #233A40;
    height: 55px;           /*height of blue line*/
    padding: 10px;          /*padding for text*/
    line-height: 35px;      /* should be height - (padding * 2) */
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow:    ellipsis;
}

.inner {
    background-color: #dcdcdc;
    border-radius:10px;
    border: 1px solid #000000;
}

.no-padding{
    padding: 0;
}

.productBox{
    border: 1px solid transparent;
    padding: 15px;
    border-radius:10px;
    margin: 0px;
}

.productBox:hover{
    border: 1px solid #000000;
}

#contentvak{
    min-height: 100vh;
    height: auto;
    margin: 0 auto;
    padding: 0;
    z-index: -4;
    background-color: white;
}

#push{
    position: relative;
    min-height: calc(100vh - 300px);
    top:50px;
}

#footer {
    top:50px;
    position: relative;
    height: auto;
    background-color: #ffffff;
    margin: 0;
}

.category-div{
    background-color: #204d74;
}

.footer-line{
    height: 1px;
    background-color: #233A40;
    margin: 3px;
}

.col-xs-5ths,.col-sm-5ths,.col-md-5ths,.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.category-button {
    width:100%;
    background-color: #39bd5d;
    color: #0f0f0f;
}

.category-button:hover{
    color: #555555;
}

.category-div > .btn{
    background-color: #8dcf54;
    border-color: #70ac4e;
}

.category-div > .category-div > .category-button{
    background-color: #cbcf3b;
    border-color: #9da133;
}

.category-div > .category-div > .category-div > .category-button{
    background-color: #cfab2c;
    border-color: #a68428;
}

.category-div > .category-div > .category-div > .category-div > .category-button{
    background-color: #cf8a2c;
    border-color: #a76b2a;
}

/* de meest gebruikte resolutions (width) voor mobile tablet en desktop
-1920 -1600 -1440 -1366 -1280 -1024 -900 800 -768 720 -640 -540 -480 -320*/

@media (min-width: 1px) {
    #contentvak {
        width: 100%;
    }
    .col-xs-5ths {
        width: 20%;
        float: left;
    }
    #menu {
        font-size: 1.38em;
    }
}

@media (min-width: 480px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
    #menu {
        font-size: 1.4em;
    }
}

@media (min-width: 540px) {
    #menu {
        font-size: 1.4em;
    }
}

@media (min-width: 640px) {
    #menu {
        font-size: 1.5em;
    }
}

@media (min-width: 768px) {
    #menu {
        font-size: 1.6em;
    }
}

@media (min-width: 900px) {
    #contentvak {
        width: 787px;
    }
    #menu {
        font-size: 1.7em;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
    #contentvak {
        width: 875px;
    }
    #menu {
        font-size: 1.8em;
    }
}

@media (min-width: 1024px) {
    #contentvak {
        width: 920px;
    }
    #menu {
        font-size: 1.9em;
    }
}

@media (min-width: 1200px) {
    #contentvak {
        width: 1030px;
    }
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
    #menu {
        font-size: 2.1em;
    }
}

@media (min-width: 1280px) {
    #contentvak {
        width: 1060px;
    }
    #menu {
        font-size: 2.2em;
    }
}

@media (min-width: 1366px) {
    #contentvak {
        width: 1150px;
    }
    #menu {
        font-size: 2.4em;
    }
}

@media (min-width: 1440px) {
    #contentvak {
        width: 1190px;
    }
    #menu {
        font-size: 2.4em;
    }
}

@media (min-width: 1600px) {
    #contentvak {
        width: 1300px;
    }
    #menu {
        font-size: 2.4em;
    }
}

@media (min-width: 1920px) {
    #contentvak {
        width: 1415px;
    }
    #menu {
        font-size: 2.4em;
    }
}

.menu:hover {
    background-color: #7CD0E5;
}

a:link {
    color: #233A40;
}

/* visited link */
a:visited {
    color: #45737F;
}

/* mouse over link */
a:hover {
    color: #4F6166;
}

/* selected link */
a:active {
    color: #8AE7FF;
}

@font-face {
    font-family: CalibriFont;
    src: url(../fonts/calibri.woff);
}

.dropdown-submenu {
    position: relative;
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a, .list-group-item:hover{
    background-image: none;
    background-color: #68ADBF;
}

.dropdown-menu{
    width: inherit;
}

.dropdown-menu, a:hover{
    text-decoration: none;
}

.modal-backdrop{
    z-index: 0;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
    width: 90%;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
}

.badge-right{
    right: 10%;
    position: absolute;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}